.figure {
    width: 50px;
    height: 50px;
    transform: rotate(45deg);
}

.red { background: red; border: 2px dashed black;}
.orange { background: orange; border: 2px dashed black;}
.yellow { background: yellow; border: 2px dashed black;}
.green { background: green; border: 2px dashed black;}
.blue { background: blue; border: 2px dashed black;}
.violet { background: violet; border: 2px dashed black;}