div {
    display: inline-block;
}

div:hover {
    box-shadow: 3px 2px 0.1em lightgray, -2px 2px 0.5em lightgray;
}

.date {
    margin: 0px;
    background: blue;
    color: whitesmoke;
    font-size: 1.5em;
    padding: 10px;
    font-family: 'Lato';
    font-weight: 400;
    text-align: center;
}

.temperature {
    margin: 0px;
    background: skyblue;
    color: whitesmoke;
    font-size: 2em;
    padding: 10px;
    font-family: 'Lato';
    font-weight: 700;
    text-align: center;
}